#entire_bg{
    background:url("../images/summerrings.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    
}



.navbar-default {
	background-image: none;
	background-color: silver;
	color:silver;
	margin-bottom: 0;
	top:0;
}

.reset_button{
    
}

.section-heading, #discipline-selector {
	display: inline-block;
	color:white;
	float: none;
	margin: 0;
}

.section-heading {
	margin-bottom: 50px;
}

.backing{
    background: rgba(102, 106, 107, 0.8);
}

.selector{
    margin-left: 10px;
    padding-left: 10px;
}

#discipline-selector {
	margin-left: 15px;
}


strong{
    color:white;
}
.info{
    font-family: sans-serif;
    color:white;
    font-size: 10px;
    padding-top:0;
    margin-top:0;
}

footer{
    height: 50px;
    width: 100%;
    padding-top: 10px;
    margin:0 0 0 10;
    z-index: 100;
    bottom:0;
}


footer a{
    color: red;
    margin-right: 15px;
}
   

